@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica&family=Merriweather&display=swap');

:root {
  --header-height: 50px;
  --background-color: #F8DBC2;
}

* {
  font-family: 'Comfortaa';
  font-weight: 600;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

/* colored banner */
header {
  width: 100%;
  height: var(--header-height);
  background-color: #ffa07a;
  animation: banner-animation 3s linear infinite;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
}

/* nav buttons */
header > div {
  right: 1em;
  position: absolute;
  display: flex;
  justify-content: space-between;
  display: inline-block;
}

header > div > button > a,
header > div > button > a:visited {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

/* Add an animation to the banner */
@keyframes banner-animation {
  0% {
    background-color: #ffa07a;
  }
  50% {
    background-color: #add8e6;
  }
  100% {
    background-color: #ffa07a;
  }
}

header > * {
  user-select: none;
}

.disable-highlighting {
  user-select: none;
}

#create-dropdown {
  position: fixed;
  z-index: 999!important;
  left: 1em;
  top: calc((var(--header-height) - 2.25em) / 2); /* center it */
  background-color: #333;
  border-radius: 1em;
}

.dropdown-divider {
  opacity: 0.25;
}