#accordion-parent {
  margin-left: 22.5rem!important;
  margin-right: 2.5rem!important;
  margin-top: 2.5rem!important;
  margin-bottom: 2.5rem!important;
}

nav {
  margin-top: var(--header-height);
  height: calc(100vh - var(--header-height))!important;
  width: 20rem!important;
}

.sidenav {
  z-index: 998!important; /* one less than the dropdown */
}

.child-information {
  margin-left: .5rem!important;
  margin-right: .5rem!important;
}

.child-right-icons {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  margin-right: 5rem;
}

.child-right-icons > div {
  height: 100%;
  display: flex;
  align-items: center;
}

.child-right-icons > div > .badge {
  margin-left: 1rem;
}

textarea {
  resize: none!important;
  height: 5rem!important;
  margin-top: 1rem!important;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

textarea::-webkit-scrollbar,
.comments::-webkit-scrollbar {
  display: none;
}

.comments {
  max-height: 20rem;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-right: .5rem!important;
  padding-left: .5rem!important;
}

.r-btn-cmnt > *,
.r-btn-cmnt > * > *,
.r-btn-cmnt > * > * > * {
  width: 120%!important;
}

.is-submitted-btn {
  width: 122.5%!important;
}

.comments-parent {
  margin-left: -.5rem!important;
  margin-right: -.5rem!important;
}

.comments {
  width: 130%!important;
}

img {
  max-width: 1.5rem;
  height: auto;
}

.comment {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: .5rem;
}

.comment-header {
  margin-bottom: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-author {
  margin-left: .25rem;
}

.comment-body {
  font-size: .9rem;
}

.post-description {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  white-space: normal;
}

@keyframes pop-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.popout {
  animation: pop-out 1.5s ease;
}

.fa-arrow-down {
  cursor: pointer;
}

.post-desc-and-rating {
  position: relative; 
}

.star-ratings {
  display: inline-block;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.star-ratings > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.star-ratings > div > i.fa-question-circle {
  margin-right: .5rem;
  cursor: pointer;
}

.star-ratings > div > span.badge {
  margin-right: .5rem;
}

.accordion-body {
  width: 100%!important;
}

@media (min-width: 1450px) {
  .submission-area {
    margin-left: 5.5%!important;
  }

  .wysiwyg,
  .submission-area > div.file-upload,
  .text-submission-container,
  .url-submission-viewing-container {
    width: 110.5%!important;
  }

  
  .url-submission-container {
    width: 110%!important;
  }
}

@media(max-width: 1650px) {
  .submission-area {
    margin-left: 4%!important;
  }

  .wysiwyg,
  .submission-area > div.file-upload,
  .text-submission-container,
  .url-submission-viewing-container {
    width: 114.5%!important;
  }

  
  .url-submission-container {
    width: 118%!important;
  }
}

@media(max-width: 1600px) {
  .submission-area {
    margin-left: 3.5%!important;
  }

  .wysiwyg,
  .submission-area > div.file-upload,
  .text-submission-container,
  .url-submission-viewing-container {
    width: 117.5%!important;
  }
}

@media (max-width: 1500px) {
  .submission-area {
    margin-left: 3%!important;
  }

  .wysiwyg,
  .submission-area > div.file-upload,
  .text-submission-container,
  .url-submission-viewing-container {
    width: 120.5%!important;
  }
}

@media (max-width: 1300px) {
  .submission-area {
    margin-left: 2.25%!important;
  }

  .wysiwyg,
  .submission-area > div.file-upload,
  .text-submission-container,
  .url-submission-viewing-container {
    width: 122.75%!important;
  }
}

.wysiwyg-textarea {
  height: 0!important;
  position: absolute;
  top: 0;
}

.dropdown-menu {
  z-index: 999!important;
}

.submission-area > div.file-upload,
.submission-area > div.url-submission-container {
  height: 100%!important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.url-submission-btn {
  margin-left: .5rem;
}

.file-upload-btn {
  width: 100%!important;
}

.progress {
  position: absolute;
  top: 0;
  padding-left: 0!important;
  padding-right: 0!important;
  margin-left: calc(var(--mdb-gutter-x)*0.6)!important;
}

.url-submission-viewing-container {
  height: 100%;
}

.url-submission-iframe {
  width: 100%!important;
  height: 89%!important;
}

.file-submission {
  margin-bottom: 1rem;
}

.file-submission > a {
  margin-right: .5rem;
}

.file-submission > label {
  padding-bottom: .3rem;
}
